# 服务器配置
WEATHER_AGENT_HOST=0.0.0.0
WEATHER_AGENT_PORT=5001
WEATHER_AGENT_DEBUG=true

# 天气服务（后续接入真实供应商时使用）
WEATHER_API_KEY= 58f8cc32d7aa471190b2413f11c4b86c
WEATHER_API_BASE_URL=https://api.seniverse.com/v3/weather/now.json

